In [1]:
import pandas as pd

In [2]:
pd.get_option("display.max_rows")

60

In [3]:
pd.Series(index=range(0,80))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
      ..
50   NaN
51   NaN
52   NaN
53   NaN
54   NaN
55   NaN
56   NaN
57   NaN
58   NaN
59   NaN
60   NaN
61   NaN
62   NaN
63   NaN
64   NaN
65   NaN
66   NaN
67   NaN
68   NaN
69   NaN
70   NaN
71   NaN
72   NaN
73   NaN
74   NaN
75   NaN
76   NaN
77   NaN
78   NaN
79   NaN
Length: 80, dtype: float64

In [7]:
pd.set_option("display.max_rows",8)

In [8]:
pd.Series(index=range(0,80))

0    NaN
1    NaN
2    NaN
3    NaN
      ..
76   NaN
77   NaN
78   NaN
79   NaN
Length: 80, dtype: float64

In [10]:
pd.get_option("display.max_columns")

20

In [12]:
pd.DataFrame(columns = range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

[0 rows x 30 columns]

In [15]:
pd.set_option("display.max_columns",60)

In [16]:
pd.DataFrame(columns = range(0,60))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
Index: []

In [17]:
pd.get_option("display.max_colwidth")

50

In [18]:
pd.Series(index=["A"],data=["t"*80])

A    tttttttttttttttttttttttttttttttttttttttttttttt...
dtype: object

In [21]:
pd.set_option("display.max_colwidth",100)

In [22]:
pd.Series(index=["A"],data=["t"*80])

A    tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
dtype: object

In [23]:
pd.get_option("display.precision")

6

In [27]:
pd.set_option("display.precision",20)
pd.Series(data=[1.62659592946])

0    1.62659592946000008951
dtype: float64