In [1]:
import pandas as pd

In [6]:
l_1 = [30,35,37]
idx = ["a","b","c"]
a_1 = pd.Series(data=l_1,index=idx)
a_1

a    30
b    35
c    37
dtype: int64

In [7]:
a_1[1]

35

In [8]:
a_1[:2]

a    30
b    35
dtype: int64

In [10]:
a_1.loc["a"]

30

In [15]:
a_1.loc["a"]=25
a_1

a    25
b    35
c    37
dtype: int64

In [17]:
a_2 = a_1.copy()
a_2["c"] = 90
a_2

a    25
b    35
c    90
dtype: int64

In [18]:
a_2.replace(to_replace=90,value=88,inplace=False)

a    25
b    35
c    88
dtype: int64

In [19]:
a_2

a    25
b    35
c    90
dtype: int64

In [21]:

a_2.replace(to_replace=90,value=88,inplace=True)
a_2

a    25
b    35
c    88
dtype: int64

In [22]:
a_2

a    25
b    35
c    88
dtype: int64

In [23]:
a_2.index

Index(['a', 'b', 'c'], dtype='object')

In [24]:
a_2.index=["a","b","z"]
a_2

a    25
b    35
z    88
dtype: int64

In [25]:
a_2.rename(index={"a":"y"},inplace=True)
a_2

y    25
b    35
z    88
dtype: int64

In [26]:
a_3 = pd.Series([71,72],index=["x","k"])
a_3

x    71
k    72
dtype: int64

In [28]:
a_2 = a_2.append(a_3)
a_2

y    25
b    35
z    88
x    71
k    72
dtype: int64

In [32]:
a_2["x"] = 99
a_2

y    25
b    35
z    88
x    99
k    72
dtype: int64

In [34]:
a_2.append(a_3,ignore_index=False)

y    25
b    35
z    88
x    99
k    72
x    71
k    72
dtype: int64

In [35]:
a_2.append(a_3,ignore_index=True)

0    25
1    35
2    88
3    99
4    72
5    71
6    72
dtype: int64

In [36]:
a_3

x    71
k    72
dtype: int64

In [37]:
del a_3["x"]
a_3

k    72
dtype: int64

In [38]:
a_3.drop(["k"],inplace=True)
a_3

Series([], dtype: int64)