In [3]:
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series(["A","B","c","gear","Ager",np.nan])
s1

0       A
1       B
2       c
3    gear
4    Ager
5     NaN
dtype: object

In [8]:
s1.str.lower()

0       a
1       b
2       c
3    gear
4    ager
5     NaN
dtype: object

In [9]:
s1.str.upper()

0       A
1       B
2       C
3    GEAR
4    AGER
5     NaN
dtype: object

In [10]:
s1.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [11]:
idx = pd.Index(["   vp","hf    "])
idx

Index(['   vp', 'hf    '], dtype='object')

In [12]:
idx.str.lstrip()

Index(['vp', 'hf    '], dtype='object')

In [13]:
idx.str.strip()

Index(['vp', 'hf'], dtype='object')

In [14]:
idx.str.rstrip()

Index(['   vp', 'hf'], dtype='object')

In [15]:
data1 = pd.DataFrame(np.random.randn(3,2),columns=["a A","b B"], index=range(3))
data1

        a A       b B
0 -0.649904  0.372436
1  2.183379 -0.193258
2  0.222498  0.441173

In [18]:
data1.columns = data1.columns.str.replace(" ","_")
data1

        a_A       b_B
0 -0.649904  0.372436
1  2.183379 -0.193258
2  0.222498  0.441173

In [23]:
s2 = pd.Series(["a b c","d e f","g h i"])
s2

0    a b c
1    d e f
2    g h i
dtype: object

In [24]:
s2.str.split(" ")

0    [a, b, c]
1    [d, e, f]
2    [g, h, i]
dtype: object

In [25]:
s2.str.split(" ",expand=True)

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i

In [26]:
s2.str.split(" ",expand=True,n=1)

   0    1
0  a  b c
1  d  e f
2  g  h i

In [27]:
s3 = pd.Series(["A","Aaa","Aaaa","Aaaaaa",])
s3

0         A
1       Aaa
2      Aaaa
3    Aaaaaa
dtype: object

In [28]:
s3.str.contains("Aaa")

0    False
1     True
2     True
3     True
dtype: bool

In [29]:
s3.str.contains("A")

0    True
1    True
2    True
3    True
dtype: bool