In [14]:
import pandas as pd

In [15]:
example=pd.DataFrame({"MONTH": ["JAN","FEB","MAR","APR",
                            "JAN","FEB","MAR","APR",
                            "JAN","FEB","MAR","APR"],
                   "CATEGORY":["TRANSPORTATION","GROCERY","HOUSEHOLD","ENTERTAINMENT",
                               "TRANSPORTATION","GROCERY","HOUSEHOLD","ENTERTAINMENT",
                               "TRANSPORTATION","GROCERY","HOUSEHOLD","ENTERTAINMENT"],
                  "AMOUNT":[499,998,989,848,5,484,515,54,844,848,48,84]})
example

    AMOUNT        CATEGORY MONTH
0      499  TRANSPORTATION   JAN
1      998         GROCERY   FEB
2      989       HOUSEHOLD   MAR
3      848   ENTERTAINMENT   APR
4        5  TRANSPORTATION   JAN
5      484         GROCERY   FEB
6      515       HOUSEHOLD   MAR
7       54   ENTERTAINMENT   APR
8      844  TRANSPORTATION   JAN
9      848         GROCERY   FEB
10      48       HOUSEHOLD   MAR
11      84   ENTERTAINMENT   APR

In [17]:
example_pivot=data.pivot(index="CATEGORY",columns="MONTH",values="AMOUNT")
example_pivot
example_pivot.sum()

ValueError: Index contains duplicate entries, cannot reshape